@model List<UserListModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="mt-t table table-hover table-bordered table-sm">
    <thead>
        <tr>
            <td>AD</td>
            <td>SOYAD</td>
            <td>Hesap Sayısı</td>
            <td></td>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td> <getAccountCount application-user-id="@item.Id"></getAccountCount> </td>
                <td>
                    <a asp-action="Create" asp-controller="Account" asp-route-id="@item.Id">Yeni hesap oluştur.</a>
                    <a asp-action="GetByUserId" asp-controller="Account" asp-route-userId="@item.Id">Hesapları getir.</a>
                </td>
            </tr>
        }
    </tbody>
</table>



